


<div class="container center-screen">

<div class="header">
  <h1 id="ask-coach">Ask the Coach:</h1>
</div>

<div class="form-input">
  <form action="/answer" method="get">
    <input class="input" type="text" name="question">
    <input class="btn-ask" type="submit" value="Ask!">
  </form>
</div>
</div>
